@model SolarDR.MVC.Models.PersonModel.CreatePersonRequest

@*

@{
    ViewData["Title"] = "Create";
}
*@


<h1>Create</h1>
    
<form asp-action="Create" asp-controller="Person" asp-antiforgery="true">
    <div>
        <p>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </p>
        <p>
            <label asp-for="LastName">LastName</label>
            <input asp-for="LastName" />
        </p>
        <p>
            <label asp-for="Date">Date</label>
            <input asp-for="Date"></input>
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </div>
</form>
